<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Experimentation</title>
	<link rel="stylesheet" href="/template/css/calendar.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/template/js/event.display.js">
</script>

<script>
	$(document).ready(function() {
		reposition();
	});

	$(window).resize(function() {
		reposition();
	});
</script>



<body>
	<div id=calendar class="panel" style="min-width=600px;">
		<div class="panel-header">
			<span class=month-title>Octobre 2016</span>
		</div>
		<div class="panel-body">
			<table class="calendar">
				<thead>
<!-- 					<tr class="month">
						<td class="element-title"> </td>
						<td class="month-title" colspan="30">
							<h2><strong>Octobre 2016</strong></h2></td>
					</tr> -->
					<tr class="dayweek">
						<td></td>
						<td class="weekday4">J</td>
						<td class="weekday5">V</td>
						<td class="weekday6">S</td>
						<td class="weekday0">D</td>
						<td class="weekday1">L</td>
						<td class="weekday2">M</td>
						<td class="weekday3">M</td>
						<td class="weekday4">J</td>
						<td class="weekday5">V</td>
						<td class="weekday6">S</td>
						<td class="weekday0">D</td>
						<td class="weekday1">L</td>
						<td class="weekday2">M</td>
						<td class="weekday3">M</td>
						<td class="weekday4">J</td>
						<td class="weekday5">V</td>
						<td class="weekday6">S</td>
						<td class="weekday0">D</td>
						<td class="weekday1">L</td>
						<td class="weekday2">M</td>
						<td class="weekday3">M</td>
						<td class="weekday4">J</td>
						<td class="weekday5">V</td>
						<td class="weekday6">S</td>
						<td class="weekday0">D</td>
						<td class="weekday1">L</td>
						<td class="weekday2">M</td>
						<td class="weekday3">M</td>
						<td class="weekday4">J</td>
						<td class="weekday5">V</td>
					</tr>
					<tr class="day">
						<td class="element-title">Chalets</td>
						<td class="weekday4">1</td>
						<td class="weekday5">2</td>
						<td class="weekday6">3</td>
						<td class="weekday0">4</td>
						<td class="weekday1">5</td>
						<td class="weekday2">6</td>
						<td class="weekday3">7</td>
						<td class="weekday4">8</td>
						<td class="weekday5">9</td>
						<td class="weekday6">10</td>
						<td class="weekday0">11</td>
						<td class="weekday1">12</td>
						<td class="weekday2">13</td>
						<td class="weekday3">14</td>
						<td class="weekday4">15</td>
						<td class="weekday5">16</td>
						<td class="weekday6">17</td>
						<td class="weekday0">18</td>
						<td class="weekday1">19</td>
						<td class="weekday2">20</td>
						<td class="weekday3">21</td>
						<td class="weekday4">22</td>
						<td class="weekday5">23</td>
						<td class="weekday6">24</td>
						<td class="weekday0">25</td>
						<td class="weekday1">26</td>
						<td class="weekday2">27</td>
						<td class="weekday3">28</td>
						<td class="weekday4">29</td>
						<td class="weekday5">30</td>
					</tr>
				</thead>
				<tbody>
					<tr class="eventrow" id="element-1">
						<td class="element-title">Chalet 1</td>
						<td class="weekday4"></td>
						<td class="weekday5"></td>
						<td class="weekday6"></td>
						<td class="weekday0"></td>
						<td class="weekday1">
							<div class="event" days=7>
								<span class="eventtext">
            Bob Dilan
            </span>
							</div>
						</td>
						<td class="weekday2"></td>
						<td class="weekday3"></td>
						<td class="weekday4"></td>
						<td class="weekday5"></td>
						<td class="weekday6"></td>
						<td class="weekday0"></td>
						<td class="weekday1"></td>
						<td class="weekday2"></td>
						<td class="weekday3"></td>
						<td class="weekday4"></td>
						<td class="weekday5"></td>
						<td class="weekday6"></td>
						<td class="weekday0"></td>
						<td class="weekday1"></td>
						<td class="weekday2"></td>
						<td class="weekday3"></td>
						<td class="weekday4"></td>
						<td class="weekday5"></td>
						<td class="weekday6"></td>
						<td class="weekday0"></td>
						<td class="weekday1"></td>
						<td class="weekday2"></td>
						<td class="weekday3"></td>
						<td class="weekday4"></td>
						<td class="weekday5"></td>
					</tr>
					<tr class="eventrow" id="element-2">
						<td class="element-title">Chalet 2</td>
						<td class="weekday4">
							<div class="event" days=5>
								<span class="eventtext">
            Bob Dilan
            </span>
							</div>
						</td>
						<td class="weekday5"></td>
						<td class="weekday6"></td>
						<td class="weekday0"></td>
						<td class="weekday1"></td>
						<td class="weekday2"></td>
						<td class="weekday3"></td>
						<td class="weekday4"></td>
						<td class="weekday5"></td>
						<td class="weekday6"></td>
						<td class="weekday0"></td>
						<td class="weekday1"></td>
						<td class="weekday2"></td>
						<td class="weekday3"></td>
						<td class="weekday4"></td>
						<td class="weekday5"></td>
						<td class="weekday6"></td>
						<td class="weekday0"></td>
						<td class="weekday1"></td>
						<td class="weekday2"></td>
						<td class="weekday3"></td>
						<td class="weekday4"></td>
						<td class="weekday5"></td>
						<td class="weekday6"></td>
						<td class="weekday0"></td>
						<td class="weekday1"></td>
						<td class="weekday2"></td>
						<td class="weekday3"></td>
						<td class="weekday4"></td>
						<td class="weekday5"></td>
					</tr>
					<tr class="eventrow" id="element-3">
						<td class="element-title">Chalet 3</td>
						<td class="weekday4"></td>
						<td class="weekday5"></td>
						<td class="weekday6"></td>
						<td class="weekday0"></td>
						<td class="weekday1"></td>
						<td class="weekday2"></td>
						<td class="weekday3"></td>
						<td class="weekday4"></td>
						<td class="weekday5"></td>
						<td class="weekday6"></td>
						<td class="weekday0"></td>
						<td class="weekday1"></td>
						<td class="weekday2"></td>
						<td class="weekday3"></td>
						<td class="weekday4"></td>
						<td class="weekday5">
							<div class="event" days=6>
								<span class="eventtext">
            Bob Dilan
            </span>
							</div>
						</td>
						<td class="weekday6"></td>
						<td class="weekday0"></td>
						<td class="weekday1"></td>
						<td class="weekday2"></td>
						<td class="weekday3"></td>
						<td class="weekday4"></td>
						<td class="weekday5"></td>
						<td class="weekday6"></td>
						<td class="weekday0"></td>
						<td class="weekday1"></td>
						<td class="weekday2"></td>
						<td class="weekday3"></td>
						<td class="weekday4"></td>
						<td class="weekday5"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id=calendar-navigation class="panel-footer">
			<a class="btn btn-default" id="previous">Précédant</a>
			<a class="btn btn-default" id="next">Suivant</a>
		</div>

	</div>

</body>

</html>